<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter Products By Name:</div>
      <div class="col-md-4">
        <input
          [(ngModel)]='listFilter'
          type="text" />
      </div>
    </div>

    <div class="table-responsive">
      <table class="table" *ngIf="products">
        <thead>
          <tr>
            <th scope="col">
              <button
                (click)="toggleImage()"
                class="btn btn-primary">{{showImage ? 'Hide' : 'Show'}} Image</button>
            </th>
            <th scope="col">Product</th>
            <th scope="col">Code</th>
            <th scope="col">Available</th>
            <th scope="col">Price</th>
            <th scope="col">5 Star Rating</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let product of filteredProducts">
            <td>
              <img
                *ngIf="showImage"
                class="img-thumbnail"
                [src]="product.imageUrl"
                [title]="product.productName"
                [style.width.px]="imageWidth"
                [style.margin.px]="imageMargin">
            </td>
            <td>
              <a [routerLink]="['/products/', product.productId]">
                {{ product.productName }}
              </a>
            </td>
            <td>{{ product.productCode | lowercase | convertToSpaces:'-' }}</td>
            <td>{{ product.releaseDate }}</td>
            <td>{{ product.price | currency: 'USD' : 'symbol' : '1.2-2' }}</td>
            <td>
              <pm-star
                [rating]="product.starRating"
                (ratingClicked)="onRatingClicked($event)"></pm-star>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
